div.card-fab {
    position: relative;
    margin:0 auto 15px;
    display: none;
    background-color:#f44336;transition:background-color 1.5s ease;
    z-index: 30
}

div.card-fab.clicked {
    background-color:white
}

.card-fab-row,.card-fab-col {
    display: none;
}

.card-fab .form-fab,.card-fab .card-action {
    opacity: 0;
    display: none;
}

div.card-fab>i {
    line-height: 55.6px;
    width: 100%;
}

.card-action input[type="submit"] {
    padding: 0;
    margin-right: 20px;
    color: #ffab40;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
}

.card .card-action input[type="submit"]:hover {
    color: #ffd8a6;
}

.card-content .row:last-child {
    margin-bottom: 0
}

.card .card-image .card-title {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
}
